{% load static %}
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>ショッピングカート</title>
    <link
      rel="stylesheet"
      type="text/css"
      href='{% static "shopping/css/style.css" %}'
    />
  </head>
  <body>
    <h3>ショッピングカート内の商品一覧</h3>
    <br />
    <table>
      <tr>
        <th>商品名</th>
        <th>商品の色</th>
        <th>メーカー名</th>
        <th>単価</th>
        <th>数量</th>
        <th>削除</th>
      </tr>
      {% for cart_item in cart_items %}
      <tr>
        <td>{{ cart_item.item.name }}</td>
        <td>{{ cart_item.item.color }}</td>
        <td>{{ cart_item.item.manufacturer }}</td>
        <td>{{ cart_item.item.price }}円</td>
        <td>
          <form
            method="POST"
            action="{% url 'shopping:amount_in_cart' cart_item.item_id %}"
          >
            {% csrf_token %}
            <input
              type="hidden"
              name="itemId"
              value="{{ cart_item.item_id }}"
            />
            <input
              type="number"
              name="amount"
              value="{{ cart_item.amount }}"
              min="1"
              max="{{ cart_item.item.stock }}"
            />
            <button type="submit">更新</button>
          </form>
        </td>
        <td>
          <form
            action="{% url 'shopping:remove_from_cart' cart_item.item_id %}"
            method="POST"
            style="display: inline"
          >
            {% csrf_token %}
            <input
              type="hidden"
              name="item_id"
              value="{{ cart_item.item_id }}"
            />
            <button type="submit">削除</button>
          </form>
        </td>
      </tr>
      {% endfor %}
    </table>
    <form action="{% url 'shopping:remove_from_all_cart' %}" method="POST">
      {% csrf_token %}
      <button type="submit">カートを空にする</button>
    </form>
    {% if total_price %} 合計 {{ total_price }} 円<br />
    <form action="{% url 'shopping:purchase' %}" method="POST">
      {% csrf_token %}
      <input type="submit" value="購入する" />
    </form>
    <br />
    {% endif %} {% if message %} {{ message }}<br />
    {% endif %} <a href="/">商品検索</a>へ<br />
  </body>
</html>
