{% load static %}
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>ショッピングカート</title>
    <link
      rel="stylesheet"
      type="text/css"
      href='{% static "shopping/css/style.css" %}'
    />
  </head>
  <body>
    <h3>ショッピングカート内の商品一覧</h3>
    <br />
    <table>
      <tr>
        <th>商品名</th>
        <th>商品の色</th>
        <th>メーカー名</th>
        <th>単価</th>
        <th>数量</th>
        <th>削除</th>
      </tr>
      {% for line in form %}
      <tr>
        <td>{{ line.name }}</td>
        <td>{{ line.color }}</td>
        <td>{{ line.manufacturer }}</td>
        <td>{{ line.price }}円</td>
        <td>
          <form method="POST" action="/shopping/amountInCart/">
            {% csrf_token %}
            <input type="hidden" name="itemId" value="{{ line.item_id }}" />
            <input
              type="number"
              name="amount"
              value="{{ line.amount }}"
              min="1"
              max="{{ line.stock }}"
            />
            <button type="submit">更新</button>
          </form>
        </td>
        <td><a href="/shopping/removeFromCart/{{ line.item_id }}/">削除</a></td>
      </tr>
      {% endfor %}
    </table>
    <form action="{% url 'shopping:remove_from_all_cart' %}" method="POST">
      {% csrf_token %}
      <button type="submit">カートを空にする</button>
    </form>
    {% if total_price %} 合計 {{ total_price }} 円<br />
    <form action="{% url 'shopping:purchase_confirm' %}" method="POST">
      {% csrf_token %}

      <input type="submit" value="購入する (任意機能)" />
    </form>
    <br />
    {% endif %} {% if message %} {{ message }}<br />
    {% endif %} <a href="/">商品検索</a>へ<br />
  </body>
</html>
