{% load static %}
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>商品詳細</title>
    <link
      rel="stylesheet"
      type="text/css"
      href='{% static "shopping/css/style.css" %}'
    />
  </head>
  <body>
    <h3>商品の詳細表示</h3>
    <br />
    <table>
      <tr>
        <th>商品名</th>
        <td>{{item.name}}</td>
      </tr>
      <tr>
        <th>商品の色</th>
        <td>{{item.color}}</td>
      </tr>
      <tr>
        <th>メーカー名</th>
        <td>{{item.manufacturer}}</td>
      </tr>
      <tr>
        <th>価格</th>
        <td>{{item.price}}円</td>
      </tr>
      <tr>
        <th>在庫数</th>
        <td>{{item.stock}}個</td>
      </tr>
    </table>
    {% if message %} {{ message }}<br />
    {% endif %}

    <form action="{% url 'shopping:add_to_cart' %}" method="post">
      {% csrf_token %} 数量: {% if item.stock >= 1 %}
      <select name="amount">
        {% for i in stock_range %}
        <option value="{{ i }}">{{ i }}</option>
        {% endfor %}
      </select>
      <br />
      <input type="hidden" name="itemId" value="{{ item.item_id }}" />
      <input type="submit" value="ショッピングカートに入れる" /><br />
      {% endif %} ※ログインしていない状態では、ボタンのクリック後、
      <a href="{% url 'account:login' %}">ログイン画面</a>に転送される。<br />
    </form>

    <a href="{% url 'shopping:index' %}">商品検索</a>へ<br />
  </body>
</html>
