{% extends 'base.html' %}<br />
{% load static %} {% block title %}商品詳細{% endblock %}<br />
{% block content %}
<div class="container mx-auto max-w-4xl p-4 bg-white rounded shadow-md">
  <h3 class="mb-6 text-2xl font-semibold leading-tight">商品の詳細表示</h3>
  <div class="overflow-x-auto mb-6">
    <table class="min-w-full bg-white border border-gray-200">
      <colgroup>
        <col class="w-1/3" />
        <col class="w-2/3" />
      </colgroup>
      <tbody>
        <tr class="border-b border-gray-200">
          <th class="p-4 text-left">商品名</th>
          <td class="p-4">{{ item.name }}</td>
        </tr>
        <tr class="border-b border-gray-200">
          <th class="p-4 text-left">商品の色</th>
          <td class="p-4">{{ item.color }}</td>
        </tr>
        <tr class="border-b border-gray-200">
          <th class="p-4 text-left">メーカー名</th>
          <td class="p-4">{{ item.manufacturer }}</td>
        </tr>
        <tr class="border-b border-gray-200">
          <th class="p-4 text-left">価格</th>
          <td class="p-4">{{ item.price }}円</td>
        </tr>
        <tr class="border-b border-gray-200">
          <th class="p-4 text-left">在庫数</th>
          <td class="p-4">{{ item.stock }}個</td>
        </tr>
      </tbody>
    </table>
  </div>
  {% if message %}
  <div class="text-red-500 mb-4">{{ message }}</div>
  {% endif %}
  <form action="{% url 'shopping:add_to_cart' %}" method="post" class="mb-6">
    {% csrf_token %}
    <div class="mb-4">
      <label for="amount" class="block text-sm font-medium text-gray-700"
        >数量:</label
      >
      {% if item.stock >= 1 %}
      <select
        name="amount"
        id="amount"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:border-blue-500 block p-2.5 inline w-20"
      >
        {% for i in stock_range %}
        <option value="{{ i }}">{{ i }}</option>
        {% endfor %}
      </select>
      <input type="hidden" name="itemId" value="{{ item.item_id }}" />
      <button
        type="submit"
        class="mt-4 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
      >
        ショッピングカートに入れる
      </button>
      {% else %}
      <p class="text-red-500">在庫がありません</p>
      {% endif %}
    </div>
    <p class="text-sm text-gray-600">
      ※ログインしていない状態では、ボタンのクリック後、<a
        href="{% url 'account:login' %}"
        class="text-blue-500 hover:underline"
        >ログイン画面</a
      >に転送される。
    </p>
  </form>
  <a href="{% url 'shopping:index' %}" class="text-blue-500 hover:underline"
    >商品検索</a
  >へ<br />
</div>

{% endblock %}
