{% extends 'base.html' %}<br />
{% load static %} {% block title %}商品検索{% endblock %}<br />
{% block content %}
<div class="container mx-auto max-w-4xl p-4 bg-white rounded shadow-md">
  <h3 class="mb-6 text-2xl font-semibold leading-tight">
    商品の検索を行います。
  </h3>
  <form action="/shopping/search/" method="GET" class="mb-6">
    {{ search_form }}
    <input
      type="submit"
      value="検索"
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-4"
    /><br />
  </form>
  <div id="infoDiv" class="hidden">
    <h6 class="mb-2">ようこそ{{ request.session.user_name }}さん</h6>
    <a
      href="{% url 'account:user_info' %}"
      class="text-blue-500 hover:underline"
      >会員情報の確認</a
    ><br />
    <a
      href="{% url 'account:update_user' %}"
      class="text-blue-500 hover:underline"
      >会員情報の変更</a
    ><br />
  </div>
</div>

<script>
  if ("{{ request.session.user_id }}" != "") {
    document.getElementById("infoDiv").classList.remove("hidden");
  }
</script>

{% endblock %}
