{% extends 'base.html' %}<br />
{% load static %} {% block title %}購入完了{% endblock %}<br />
{% block content %}

<div class="container mx-auto max-w-4xl p-4 bg-white rounded shadow-md">
  <h3 class="mb-6 text-2xl font-semibold leading-tight">
    以下の商品の購入を完了しました。
  </h3>
  <div class="overflow-x-auto mb-6">
    <table class="min-w-full bg-white border border-gray-200 mb-6">
      <thead>
        <tr class="bg-gray-100 border-b">
          <th class="p-4 text-left">商品名</th>
          <th class="p-4 text-left">商品の色</th>
          <th class="p-4 text-left">メーカー名</th>
          <th class="p-4 text-left">単価</th>
          <th class="p-4 text-left">数量</th>
        </tr>
      </thead>
      <tbody>
        {% for purchase_detail in purchase_details %}
        <tr class="border-b border-gray-200">
          <td class="p-4">{{ purchase_detail.item.name }}</td>
          <td class="p-4">{{ purchase_detail.item.color }}</td>
          <td class="p-4">{{ purchase_detail.item.manufacturer }}</td>
          <td class="p-4">{{ purchase_detail.item.price }}円</td>
          <td class="p-4">{{ purchase_detail.amount }}個</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="mb-4">
    <p class="text-xl font-semibold">合計: {{ purchase.total_price }} 円</p>
    <p class="text-lg">清算方法:</p>
    <p class="text-lg">
      {% if purchase.payment_method == '0' %} 代金引換 {% else %}
      クレジットカード {% endif %}
    </p>
  </div>
  <div class="mb-4">
    <p class="text-lg">配送先:</p>
    <p class="text-lg">{{ purchase.address }}</p>
  </div>
  <div class="mt-4">
    <a href="{% url 'shopping:cart' %}" class="text-blue-500 hover:underline"
      >カートに戻る</a
    >
    <a
      href="{% url 'shopping:index' %}"
      class="text-blue-500 hover:underline ml-4"
      >商品検索</a
    >
  </div>
</div>

{% endblock %}
