{% extends 'base.html' %}<br />
{% load static %} {% block title %}注文のキャンセル完了{% endblock %}<br />
{% block content %}
<div class="container mx-auto max-w-4xl p-4 bg-white rounded shadow-md">
  <h3 class="mb-6 text-2xl font-semibold leading-tight">
    以下の注文をキャンセルしました。
  </h3>
  <div class="overflow-x-auto mb-6">
    <table class="min-w-full bg-white border border-gray-200">
      <colgroup>
        <col class="w-1/3" />
        <col class="w-2/3" />
      </colgroup>
      <tbody>
        <tr class="border-b border-gray-200">
          <th class="p-4 text-left">注文日</th>
          <td class="p-4">{{ cancel_purchase_cache.purchase_date }}</td>
        </tr>
        <tr class="border-b border-gray-200">
          <th class="p-4 text-left">購入商品</th>
          <td class="p-4">
            <div class="overflow-x-auto">
              <table class="min-w-full bg-white border border-gray-200">
                <thead>
                  <tr class="bg-gray-100 border-b">
                    <th class="p-2 text-left">商品名</th>
                    <th class="p-2 text-left">色</th>
                    <th class="p-2 text-left">メーカー</th>
                    <th class="p-2 text-left">単価</th>
                    <th class="p-2 text-left">数量</th>
                  </tr>
                </thead>
                <tbody>
                  {% for item in cancelled_purchase_details_cache %}
                  <tr class="border-b border-gray-200">
                    <td class="p-2">{{ item.name }}</td>
                    <td class="p-2">{{ item.color }}</td>
                    <td class="p-2">{{ item.manufacturer }}</td>
                    <td class="p-2">{{ item.price }}</td>
                    <td class="p-2">{{ item.amount }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </td>
        </tr>
        <tr class="border-b border-gray-200">
          <th class="p-4 text-left">配送先</th>
          <td class="p-4">{{ cancel_purchase_cache.address }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="mt-4">
    <a href="{% url 'shopping:index' %}" class="text-blue-500 hover:underline"
      >商品検索</a
    >へ<br />
  </div>
</div>

{% endblock %}
