{% load static %}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>ショッピングカート内の商品を削除</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'shopping/css/style.css' %}"
    />
  </head>
  <body>
    <h3>以下の商品をショッピングカートから削除しました。</h3>
    <br />
    商品名: {{ item_name }} <br />
    メーカー名: {{ item_manufacturer }}<br />
    単価: {{ item_price }}円<br />
    数量: {{ item_amount }}個<br />
    <a href="{% url 'shopping:index' %}">商品検索</a>へ<br />
  </body>
</html>
