{% load static %}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>ショッピングカート内の商品を削除</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'shopping/css/style.css' %}"
    />
  </head>
  <body>
    <h1>ショッピングカート内の商品を削除</h1>
    <p>商品名: {{ item.item.name }}</p>
    <p>注文予定個数: {{ item.amount }}</p>
    <p>本当にこの商品を削除しますか？</p>
    <form method="POST" action="/shopping/removeFromCartCommit/">
      {% csrf_token %}
      <input type="hidden" name="item_id" value="{{ item.item.item_id }}" />
      <button type="submit">はい、削除します</button>
    </form>
    <br />
    <a href="/shopping/cart/">いいえ、キャンセルします</a>
    <br />
    <a href="/">商品検索</a>へ<br />
  </body>
</html>
