{% load static %}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>ショッピングカート内の商品を削除</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'shopping/css/style.css' %}"
    />
  </head>
  <body>
    <h3>以下の商品をショッピングカートから削除してよろしいですか？</h3>
    商品名: {{ item.item.name }} <br />
    メーカー名: {{ item.item.manufacturer }}<br />
    単価: {{ item.item.price }}円<br />
    数量: {{ item.amount }}個<br />
    <form method="POST" action="/shopping/removeFromCartCommit/">
      {% csrf_token %}
      <input type="hidden" name="item_id" value="{{ item.item.item_id }}" />
      <button type="submit">削除する</button>
    </form>
    <a href="{% url 'shopping:index' %}">商品検索</a>へ<br />
  </body>
</html>
