{% load static %}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>購入の削除確認</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'administrator/css/style.css' %}"
    />
  </head>
  <body>
    <h3>以下の購入を削除しますか？</h3>
    <br />
    <table>
      <tr>
        <th>購入者ID</th>
        <td>{{ purchase.user.user_id }}</td>
      </tr>
      <tr>
        <th>注文日</th>
        <td>{{ purchase.purchase_date|date:"Y/m/d" }}</td>
      </tr>
      <tr>
        <th>配送先</th>
        <td>{{ purchase.address }}</td>
      </tr>
      <tr>
        <th>購入商品</th>
        <td>
          <table>
            <tr>
              <th>商品名</th>
              <th>色</th>
              <th>メーカー</th>
              <th>単価</th>
              <th>数量</th>
            </tr>
            {% for detail in purchase_details %}
            <tr>
              <td>{{ detail.item.name }}</td>
              <td>{{ detail.item.color }}</td>
              <td>{{ detail.item.manufacturer }}</td>
              <td>{{ detail.item.price }}円</td>
              <td>{{ detail.amount }}個</td>
            </tr>
            {% endfor %}
          </table>
        </td>
      </tr>
    </table>
    <br />
    <form
      action="{% url 'administrator:delete_purchase_commit' purchase.id %}"
      method="POST"
    >
      {% csrf_token %}
      <input type="submit" value="削除" />
    </form>
    <br />
    <a href="{% url 'administrator:top' %}">戻る</a>
  </body>
</html>
