{% load static %}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>注文のキャンセル完了</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'administrator/css/style.css' %}"
    />
  </head>
  <body>
    <h3>以下の注文をキャンセルしました。</h3>
    <br />
    <table>
      <tr>
        <th>注文者ID</th>
        <td>{{ purchase.user_id }}</td>
      </tr>
      <tr>
        <th>注文日</th>
        <td>{{ purchase.purchase_date|date:"Y/m/d" }}</td>
      </tr>
      <tr>
        <th>購入商品</th>
        <td>
          <table>
            <tr>
              <th>商品名</th>
              <th>色</th>
              <th>メーカー</th>
              <th>単価</th>
              <th>数量</th>
            </tr>
            {% for detail in purchase_details %}
            <tr>
              <td>{{ detail.item__name }}</td>
              <td>{{ detail.item__color }}</td>
              <td>{{ detail.item__manufacturer }}</td>
              <td>{{ detail.item__price }}円</td>
              <td>{{ detail.amount }}個</td>
            </tr>
            {% endfor %}
          </table>
        </td>
      </tr>
      <tr>
        <th>配送先</th>
        <td>{{ purchase.address }}</td>
      </tr>
    </table>
    <br />
    <a href="{% url 'administrator:top' %}">管理者メインページ</a>へ<br />
  </body>
</html>
