{% extends 'base.html' %}<br />
{% load static %} {% block title %}購入の削除確認{% endblock %}<br />
{% block content %}
<div class="container mx-auto max-w-4xl p-4 bg-white rounded shadow-md">
  <h3 class="mb-6 text-2xl font-semibold leading-tight">
    以下の購入を削除しますか？
  </h3>
  <div class="overflow-x-auto">
    <table class="min-w-full bg-white border border-gray-200 mb-6">
      <colgroup>
        <col class="w-1/3" />
        <col class="w-2/3" />
      </colgroup>
      <tbody>
        <tr class="border-b border-gray-200">
          <th class="p-4 text-left">購入者ID</th>
          <td class="p-4">{{ purchase.user.user_id }}</td>
        </tr>
        <tr class="border-b border-gray-200">
          <th class="p-4 text-left">注文日</th>
          <td class="p-4">{{ purchase.purchase_date|date:"Y/m/d" }}</td>
        </tr>
        <tr class="border-b border-gray-200">
          <th class="p-4 text-left">配送先</th>
          <td class="p-4">{{ purchase.address }}</td>
        </tr>
        <tr class="border-b border-gray-200">
          <th class="p-4 text-left">購入商品</th>
          <td class="p-4">
            <div class="overflow-x-auto">
              <table class="min-w-full bg-white border border-gray-200">
                <thead>
                  <tr class="bg-gray-100 border-b">
                    <th class="p-2 text-left">商品名</th>
                    <th class="p-2 text-left">色</th>
                    <th class="p-2 text-left">メーカー</th>
                    <th class="p-2 text-left">単価</th>
                    <th class="p-2 text-left">数量</th>
                  </tr>
                </thead>
                <tbody>
                  {% for detail in purchase_details %}
                  <tr class="border-b border-gray-200">
                    <td class="p-2">{{ detail.item.name }}</td>
                    <td class="p-2">{{ detail.item.color }}</td>
                    <td class="p-2">{{ detail.item.manufacturer }}</td>
                    <td class="p-2">{{ detail.item.price }}円</td>
                    <td class="p-2">{{ detail.amount }}個</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <form
    action="{% url 'administrator:delete_purchase' purchase.id %}"
    method="POST"
    class="mt-4"
  >
    {% csrf_token %}
    <input
      type="submit"
      value="削除"
      class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded"
    />
  </form>
  <div class="mt-4">
    <a
      href="{% url 'administrator:top' %}"
      class="text-blue-500 hover:underline"
      >戻る</a
    >
  </div>
</div>

{% endblock %}
