{% extends 'base.html' %}<br />
{% load static %} {% block title %}商品の削除完了{% endblock %}<br />
{% block content %}

<div class="container mx-auto max-w-4xl p-4 bg-white rounded shadow-md">
  <h3 class="mb-6 text-2xl font-semibold leading-tight">
    以下の商品の削除を完了しました。
  </h3>
  <div class="overflow-x-auto">
    <table class="min-w-full bg-white border border-gray-200">
      <colgroup>
        <col class="w-1/3" />
        <col class="w-2/3" />
      </colgroup>
      <tbody>
        <tr class="border-b border-gray-200">
          <th class="p-4 text-left">商品名</th>
          <td class="p-4">{{ item.name }}</td>
        </tr>
        <tr class="border-b border-gray-200">
          <th class="p-4 text-left">商品の色</th>
          <td class="p-4">{{ item.color }}</td>
        </tr>
        <tr class="border-b border-gray-200">
          <th class="p-4 text-left">メーカー名</th>
          <td class="p-4">{{ item.manufacturer }}</td>
        </tr>
        <tr class="border-b border-gray-200">
          <th class="p-4 text-left">カテゴリ</th>
          <td class="p-4">{{ item.category.name }}</td>
        </tr>
        <tr class="border-b border-gray-200">
          <th class="p-4 text-left">オススメ</th>
          <td class="p-4">
            {% if item.recommended %}オススメする{% else %}オススメしない<br />
            {% endif %}
          </td>
        </tr>
        <tr class="border-b border-gray-200">
          <th class="p-4 text-left">価格</th>
          <td class="p-4">{{ item.price }} 円</td>
        </tr>
        <tr class="border-b border-gray-200">
          <th class="p-4 text-left">在庫数</th>
          <td class="p-4">{{ item.stock }} 個</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="mt-4">
    <a
      href="{% url 'administrator:top' %}"
      class="text-blue-500 hover:underline"
      >管理者メインページ</a
    >へ
  </div>
</div>

{% endblock %}
