<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>商品の削除確認</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
  </head>
  <body>
    <h3>以下の商品を削除しますか？</h3>
    <br />
    <form
      action="{% url 'administrator:delete_item_commit' item.item_id %}"
      method="POST"
    >
      {% csrf_token %}
      <table>
        <tr>
          <th>商品名</th>
          <td>{{ item.name }}</td>
        </tr>
        <tr>
          <th>商品の色</th>
          <td>{{ item.color }}</td>
        </tr>
        <tr>
          <th>メーカー名</th>
          <td>{{ item.manufacturer }}</td>
        </tr>
        <tr>
          <th>カテゴリ</th>
          <td>{{ item.category.name }}</td>
        </tr>
        <tr>
          <th>オススメ</th>
          <td>
            {% if item.recommended %}オススメする{% else %}
            <br />おススメしない {% endif %}
          </td>
        </tr>
        <tr>
          <th>価格</th>
          <td>{{ item.price }} 円</td>
        </tr>
        <tr>
          <th>在庫数</th>
          <td>{{ item.stock }} 個</td>
        </tr>
        <tr>
          <td colspan="2"><input type="submit" value="削除" /></td>
        </tr>
      </table>
    </form>
    <a href="{% url 'administrator:top' %}">管理者メインページ</a>へ<br />
  </body>
</html>
