{% load static %}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>会員の削除確認</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'administrator/css/style.css' %}"
    />
  </head>
  <body>
    <h3>以下の会員を削除しますか？</h3>
    <br />
    <table>
      <tr>
        <th>会員ID</th>
        <td>{{ user.user_id }}</td>
      </tr>
      <tr>
        <th>名前</th>
        <td>{{ user.name }}</td>
      </tr>
      <tr>
        <th>住所</th>
        <td>{{ user.address }}</td>
      </tr>
    </table>
    <br />
    <form
      action="{% url 'administrator:delete_user_commit' user.user_id %}"
      method="POST"
    >
      {% csrf_token %}
      <input type="submit" value="削除" />
    </form>
    <br />
    <a href="{% url 'administrator:top' %}">管理者メインページ</a>へ<br />
  </body>
</html>
