{% load static %}
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>商品詳細</title>
    <link
      rel="stylesheet"
      type="text/css"
      href='{% static "shopping/css/style.css" %}'
    />
  </head>
  <body>
    <h3>商品の詳細表示</h3>
    <br />
    <table>
      <tr>
        <th>商品名</th>
        <td>{{item.name}}</td>
      </tr>
      <tr>
        <th>商品の色</th>
        <td>{{item.color}}</td>
      </tr>
      <tr>
        <th>メーカー名</th>
        <td>{{item.manufacturer}}</td>
      </tr>
      <tr>
        <th>価格</th>
        <td>{{item.price}}円</td>
      </tr>
      <tr>
        <th>在庫数</th>
        <td>{{item.stock}}個</td>
      </tr>
    </table>
    {% if message %} {{ message }}<br />
    {% endif %}

    <a href="{% url 'administrator:item_edit' item.item_id %}"
      >この商品を編集する</a
    ><br />

    <a href="{% url 'administrator:top' %}">管理者トップへ</a><br />
    <a href="{% url 'shopping:index' %}">商品検索</a>へ
  </body>
</html>
