{% load static %}
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>検索結果</title>
    <link
      rel="stylesheet"
      type="text/css"
      href='{% static "shopping/css/style.css" %}'
    />
  </head>

  <body>
    {% if category_name and keyword %}
    <h3>カテゴリ "{{category_name}}" とキーワード "{{keyword}}" の検索結果</h3>
    {% elif category_name %}
    <h3>カテゴリ "{{category_name}}" の検索結果</h3>
    {% elif keyword %}
    <h3>キーワード "{{keyword}}" の検索結果</h3>
    {% endif %}

    <br />
    <table>
      <tr>
        <th>商品名</th>
        <th>商品の色</th>
        <th>メーカー名</th>
        <th>価格</th>
      </tr>
      {%for item in items%}
      <tr>
        <td>
          <a href="{% url 'administrator:item_detail' item.item_id %}">
            {{ item.name }}
          </a>
          <sup>{{item.recommended}}</sup>
        </td>
        <td>{{item.color}}</td>
        <td>{{item.manufacturer}}</td>
        <td>{{item.price}}円</td>
      </tr>
      {% endfor %}
    </table>
    {% if message %}
    <div>{{ message }}</div>
    {% endif %}
    <br />
    <a href="{% url 'administrator:top' %}"> 管理者トップへ</a><br />
    <a href="{% url 'shopping:index' %}"> 商品検索</a>へ
    <br />
  </body>

  <script>
    rec = document.getElementsByTagName("sup");
    for (i = 0; i < rec.length; i++) {
      if (rec[i].innerText === "True") {
        rec[i].innerText = "オススメ!";
      } else {
        rec[i].innerText = null;
      }
    }
  </script>
</html>
