{% load static %}
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>商品の検索結果</title>
    <link
      rel="stylesheet"
      type="text/css"
      href='{% static "administrator/css/style.css" %}'
    />
  </head>

  <body>
    {% if category_name and keyword %}
    <h3>カテゴリ "{{category_name}}" とキーワード "{{keyword}}" の検索結果</h3>
    {% elif category_name %}
    <h3>カテゴリ "{{category_name}}" の検索結果</h3>
    {% elif keyword %}
    <h3>キーワード "{{keyword}}" の検索結果</h3>
    {% endif %}

    <br />
    <table>
      <tr>
        <th>商品名</th>
        <th>商品カテゴリ</th>
        <th>商品の色</th>
        <th>メーカー名</th>
        <th>価格</th>
        <th>在庫数</th>
        <th></th>
      </tr>
      {%for item in items%}
      <tr>
        <td>
          {{ item.name }}
          <sup>{{item.recommended}}</sup>
        </td>
        <td>{{item.category}}</td>
        <td>{{item.color}}</td>
        <td>{{item.manufacturer}}</td>
        <td>{{item.price}}円</td>
        <td>{{item.stock}}</td>
        <td>
          <a href="{% url 'administrator:update_item' item.item_id %}">変更</a>
          <a href="{% url 'administrator:delete_item' item.item_id %}"> 削除</a>
        </td>
      </tr>
      {% endfor %}
    </table>
    {% if message %}
    <div>{{ message }}</div>
    {% endif %}

    <a href="{% url 'administrator:register_item' %}">商品の新規登録</a>へ<br />
    <a href="{% url 'administrator:top' %}"> 管理者メインページ</a>へ<br />
  </body>

  <script>
    rec = document.getElementsByTagName("sup");
    for (i = 0; i < rec.length; i++) {
      if (rec[i].innerText === "True") {
        rec[i].innerText = "オススメ!";
      } else {
        rec[i].innerText = null;
      }
    }
  </script>
</html>
