{% load static %}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>商品編集</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'administrator/css/style.css' %}"
    />
  </head>
  <body>
    <h3>商品の編集</h3>
    <form
      method="POST"
      action="{% url 'administrator:itemEdit' item_form.instance.item_id %}"
    >
      {% csrf_token %}
      <table>
        <tr>
          <th>商品名</th>
          <td>{{ item_form.name }}</td>
        </tr>
        <tr>
          <th>メーカー</th>
          <td>{{ item_form.manufacturer }}</td>
        </tr>
        <tr>
          <th>色</th>
          <td>{{ item_form.color }}</td>
        </tr>
        <tr>
          <th>価格</th>
          <td>{{ item_form.price }}</td>
        </tr>
        <tr>
          <th>在庫数</th>
          <td>{{ item_form.stock }}</td>
        </tr>
        <tr>
          <th>おすすめ商品</th>
          <td>{{ item_form.recommended }}</td>
        </tr>
        <tr>
          <th>カテゴリ</th>
          <td>{{ item_form.category }}</td>
        </tr>
      </table>
      <button type="submit">保存</button>
    </form>
    <a href="{% url 'administrator:itemIndex' %}">戻る</a>
  </body>
</html>
