{% load static %}
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>管理者メインページ</title>
    <link
      rel="stylesheet"
      type="text/css"
      href='{% static "account/css/style.css" %}'
    />
  </head>
  <body>
    <h3>管理者メインページ</h3>
    <h4>商品の検索</h4>
    <form action="{% url 'administrator:item_search' %}" method="GET">
      {% csrf_token %} {{ item_search_form }}
      <input type="submit" value="検索" /><br />
    </form>
    <br />
    <h4>購入履歴の検索</h4>
    <form action="{% url 'administrator:purchase_index' %}" method="GET">
      <table>
        <tr>
          <th>会員ID</th>
          <td><input type="text" class="id" name="id" /></td>
        </tr>
        <tr>
          <th>注文日</th>
          <td>
            <select name="fromYear">
              <option selected value="2023">2023</option>
              <option value="2024">2024</option>
              <option value="2025">2025</option></select
            >/
            <select name="fromMonth">
              <option selected value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option></select
            >/
            <select name="fromDay">
              <option selected value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
              <option value="13">13</option>
              <option value="14">14</option>
              <option value="15">15</option>
              <option value="16">16</option>
              <option value="17">17</option>
              <option value="18">18</option>
              <option value="19">19</option>
              <option value="20">20</option>
              <option value="21">21</option>
              <option value="22">22</option>
              <option value="23">23</option>
              <option value="24">24</option>
              <option value="25">25</option>
              <option value="26">26</option>
              <option value="27">27</option>
              <option value="28">28</option>
              <option value="29">29</option>
              <option value="30">30</option>
              <option value="31">31</option></select
            >～
            <select name="toYear">
              <option value="2023">2023</option>
              <option value="2024">2024</option>
              <option selected value="2025">2025</option></select
            >/
            <select name="toMonth">
              <option selected value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option></select
            >/
            <select name="toDay">
              <option selected value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
              <option value="13">13</option>
              <option value="14">14</option>
              <option value="15">15</option>
              <option value="16">16</option>
              <option value="17">17</option>
              <option value="18">18</option>
              <option value="19">19</option>
              <option value="20">20</option>
              <option value="21">21</option>
              <option value="22">22</option>
              <option value="23">23</option>
              <option value="24">24</option>
              <option value="25">25</option>
              <option value="26">26</option>
              <option value="27">27</option>
              <option value="28">28</option>
              <option value="29">29</option>
              <option value="30">30</option>
              <option value="31">31</option>
            </select>
          </td>
        </tr>
        <tr>
          <td colspan="2"><input type="submit" value="検索" /></td>
        </tr>
      </table>
    </form>
    <br />
    <h4>会員の検索</h4>
    <form action="{% url 'administrator:user_search' %}" method="GET">
      {% csrf_token %} {{ user_search_form }}
      <input type="submit" value="検索" /><br />
  </body>
</html>
