{% load static %}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>購入履歴一覧</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'administrator/css/style.css' %}"
    />
  </head>
  <body>
    <h3>購入履歴の一覧</h3>
    <br />
    <table>
      <tr>
        <th>購入者ID</th>
        <th>注文日</th>
        <th>購入商品</th>
        <th>配送先</th>
        <th></th>
      </tr>
      {% for purchase in purchases %}
      <tr>
        <td>{{ purchase.user.user_id }}</td>
        <td>{{ purchase.purchase_date|date:"Y/m/d" }}</td>
        <td>
          <table>
            <tr>
              <th>商品名</th>
              <th>色</th>
              <th>メーカー</th>
              <th>単価</th>
              <th>数量</th>
            </tr>
            {% for detail in purchase.purchasedetail_set.all %}
            <tr>
              <td>{{ detail.item.name }}</td>
              <td>{{ detail.item.color }}</td>
              <td>{{ detail.item.manufacturer }}</td>
              <td>{{ detail.item.price }}円</td>
              <td>{{ detail.amount }} 個</td>
            </tr>
            {% endfor %}
          </table>
        </td>
        <td>{{ purchase.address }}</td>
        <td>
          <a href="{% url 'administrator:delete_purchase' purchase.id %}">
            キャンセル
          </a>
        </td>
      </tr>
      {% endfor %}
    </table>
    <br /><br />
    <a href="{% url 'administrator:top' %}">管理者メインページ</a>へ<br />
  </body>
</html>
