{% extends 'base.html' %}<br />
{% load static %} {% block title %}退会確認{% endblock %}<br />
{% block content %}
<div class="container mx-auto max-w-4xl p-4 bg-white rounded shadow-md">
  <h3 class="mb-6 text-2xl font-semibold leading-tight">
    {{ request.session.user_name }}さん、本当に退会しますか？
  </h3>
  <form action="{% url 'account:withdraw' %}" method="POST" class="mb-4">
    {% csrf_token %}
    <button
      type="submit"
      class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded"
    >
      退会
    </button>
  </form>
  <div class="mt-4">
    <a href="{% url 'shopping:index' %}" class="text-blue-500 hover:underline"
      >商品検索</a
    >へ
  </div>
</div>

{% endblock %}
